{% extends 'base.html' %}
{%load static%}
{% block body %}

<br><br><br>
<h3 style='font-family: "GyeonggiBatang"; text-align: center;'>{{landmark}}</h3><hr style="width: 200px;">
<p style='font-family: "GyeonggiBatang"; text-align: center;'>{{country}}</p><br>

<div class='container'>
    <img style='widows: 500px; height: 500px; margin-right:30px'src="{{photo}}" alt="">
    <img 
    src="https://maps.googleapis.com/maps/api/staticmap?center={{landmark}}&zoom=13&size=500x500&maptype=roadmap&key={{key}}" 
    alt="{{landmark}} 지도 이미지">
    <img style="margin-left: 350px; margin-top: 50px;" src="{% static 'img/이탈리아.png' %}"  alt=""> 
</div>


<!-- <div id="aabb">
    <img src="../static/img/프랑스.png"  alt="">
</div> -->

<br>
<hr>
<br>
<div class='container'>
<h3>Opinion</h3>


{% for comment in comments %}
    <hr>
    <p>{{comment.contents}}</p>
    <p>{{comment.created_at}}</p>
    
{% endfor %}
</div>
{% endblock %}